[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
sbeautifulsoup4 = "*"
easydict = "*"
elenium = "*"
pyyaml = "*"
requests-html = "*"
schedule = "*"
webdriver-manager = "*"
yagmail = "*"

[dev-packages]
jupyter = "*"

[requires]
python_version = "3.11"
python_full_version = "3.11"
