[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
beautifulsoup4 = "*"
requests-html = "*"
schedule = "*"
selenium = "*"
webdriver-manager = "*"
yagmail = "*"
babel = "*"
dacite = "*"

[dev-packages]
jupyter = "*"

[requires]
python_version = "3.10"
python_full_version = "3.10"
